<section class="section-products">
  <div class="container">
    <!-- ELENCO PRODOTTI -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products">
        <div class="single-product">
          <div
            class="part-1"
            [ngStyle]="{ 'background-image': 'url(' + product.img + ')' }"
          ></div>
          <div class="part-2">
            <h3 class="product-title">{{ product.name }}</h3>
            <h4 class="product-old-price">€ {{ product.oldCost }}</h4>
            <h4 class="product-price">€ {{ product.cost }}</h4>
          </div>
          <div class="d-flex mb-2">
            <div
              *ngFor="let variant of product.variants"
              class="variant-box"
              [style.background]="variant"
              [style.border]="
                selectedProduct?.product?.id === product.id &&
                selectedProduct?.variant === variant
                  ? '2px solid black'
                  : null
              "
              (click)="selectVariant(product, variant)"
            ></div>
            <div class="ms-auto">
              <button
                (click)="addToCart()"
                [disabled]="!(selectedProduct?.product?.id === product.id)"
              >
                <svg
                  class="cart-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5
                         M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17
                         m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2
                         a2 2 0 11-4 0 2 2 0 014 0z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
